.textarea{
    margin-top: 10px;
    margin-left: 400px;
    width: 50%;
    padding-left: 15px;
}

.label{
    margin-left: 400px;
    margin-top: 50px;
    width: 80%;
}

.tag-wrapper{
    background-color: #ffffff;
    padding: 15px 0px 15px 15px;
    margin-left: 10px;
}

.ReactTags__remove{
    padding: 15px 15px 15px 10px;
    margin-left: 20px;
    font-weight: bolder;
}

.ReactTags__tagInputField{
    width: 63%;
    margin-top: 10px;
    padding: 10px;
}


.post{
    width: 80px;
    border-radius: 8px;
    font-size: larger;
    padding: 5px;
    margin-left:68%;
    margin-top: 20px;
}

.query{
    padding: 15px;
    font-size: 20px;
    color: rgba(7, 7, 8, 0.897);
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid white;
}

.heart{
    position: relative;
    width: 100px;
    height: 90px;
    float: left;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fc2e5a;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}



.answerinput{
    margin-top: 25px;
    padding: 10px;
    width: 100%;
}

.replies{
   border: 2px solid white;
    margin-top: 30px;
}

.myquery{
    padding: 15px;
    font-size: 20px;
    color:rgb(0, 0, 0);
    width: 100%;
    background-color: rgba(251, 254, 255, 0.781);
    margin-top: 30px;
    cursor: pointer;
    border-radius:8px;
}

.delete{
    float:right;
    padding-left: 15px;
    color: rosybrown;
    cursor: pointer;
}

.deleteanswer{
    float:right;
    padding-left: 15px;
    color: rosybrown;
    cursor: pointer;
    padding-top:5px;
}

.replies{
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}

.post1{
    width: 80px;
    border-radius: 8px;
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2px;
    margin-left:88%;
    margin-top: 10px;
}

.like{
    float:right;
    padding-left: 30px;
    color: rgb(141, 207, 228);
    cursor: pointer;
    padding-top:5px;
}

.count{
    float:right;
    margin-left: 5px;
    padding-left:9px;
    padding-bottom: 2px;
    width: 30px;  
    border-radius: 50%;  
    background-color: rgb(130, 188, 202);
}

content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
}

.answerfield{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.date{
    float: right;
}

.answer{
    padding-top: 20px;
    font-size: 20px;
}

.question{
    padding-top: 30px;
}

.label2{
    margin-left:400px;
    margin-top: 280px;
}

.friendsTitle{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}